<%= form_tag({action: "create"}) do %>
  <div class="field">
  	<%= label @book, :isbn %><br />
  	<%= text_field @book, :isbn, {size: 25} %>
  </div>
  <div class="field">
  	<%= label @book, :title %><br />
  	<%= text_field @book, :title,{size: 25} %>
  </div>
<% end %>