<table border=1>
	<tr>
		<th>ISBNコード</th><th>書名</th><th>価格</th>
		<th>出版社</th><th>刊行日</th><th>CD-ROM</th>
	</tr>

	<% @books.each do |book| %>
	<tr>
		<td><%= book.isbn %></td>
		<td><%= book.title %></td>
		<td><%= book.price %></td>
		<td><%= book.publish %></td>
		<td><%= book.published %></td>
		<td><%= book.cd %></td>
	</tr>
	<% end %>
</table>