<div id="notice"><%= notice %></div>

<h1>Posts</h1>

<ul>
<% @posts.each do |post| %>
<li id="post_<%= post.id %>"><%= link_to post.title, post_path(post) %>
<%= link_to 'Edit', edit_post_path(post) %>
<%= link_to 'Delete', post, :confirm => 'Sure', :method => :delete, :remote => true %>
</li>

<% end %>
</ul>

<%= link_to 'home', posts_path %> | <%= link_to 'New', new_post_path %>


<script>
$(function(){
  setTimeout(function(){
    $('#notice').fadeOut("slow");
  },800);

  $('a[data-method="delete"]').on('ajax:success', function(e,data,status,xhr){
    $('#post_' + data.post.id).fadeOut("slow");

  });


});


</script>