<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<h2>Comments</h2>
<ul>
<% if @post.comments.any? %>
<% @post.comments.each do |comment| %>
<li><%= comment.body %>(by <%= comment.commenter %>)</li>
<% end %>
<% else %>
<li>no comment yet</li>
<% end %>
</ul>

<h2>Add a Comment</h2>

<%= form_for([@post, @comment]) do |f| %>
<div class="field">
  <%= f.label :commenter %>
  <%= f.text_field :commenter %>
</div>

<div class="field">
  <%= f.label :body %>
  <%= f.text_area :body, :rows => 5 %>
</div>

<div class="action">
  <%= f.submit %>
</div>

<% end %>









<%= link_to 'home', posts_path %>